IOT/Task 4/Task(2)-Dashboard.json
[
    {
        "id": "3adcb6ea75295b60",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "056aa3ad105eacf3",
        "type": "debug",
        "z": "3adcb6ea75295b60",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 220,
        "wires": []
    },
    {
        "id": "881a789bdd246405",
        "type": "inject",
        "z": "3adcb6ea75295b60",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "info",
        "payload": "[\"John\",\"London\",26]",
        "payloadType": "json",
        "x": 430,
        "y": 180,
        "wires": [
            [
                "056aa3ad105eacf3",
                "96ec870debc30a67"
            ]
        ]
    },
    {
        "id": "aacb2873ef4e8743",
        "type": "inject",
        "z": "3adcb6ea75295b60",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "info",
        "payload": "[     \"Jessica\",     \"Australia\",     27 ]",
        "payloadType": "json",
        "x": 410,
        "y": 240,
        "wires": [
            [
                "056aa3ad105eacf3",
                "96ec870debc30a67"
            ]
        ]
    },
    {
        "id": "28b967e15512794e",
        "type": "inject",
        "z": "3adcb6ea75295b60",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "info",
        "payload": "[\"david\",    \"gremany\"   ,   30]",
        "payloadType": "json",
        "x": 410,
        "y": 320,
        "wires": [
            [
                "056aa3ad105eacf3",
                "96ec870debc30a67"
            ]
        ]
    },
    {
        "id": "96ec870debc30a67",
        "type": "ui_text",
        "z": "3adcb6ea75295b60",
        "group": "9b7868a8f2d2dffb",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Info",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 300,
        "wires": []
    },
    {
        "id": "9b7868a8f2d2dffb",
        "type": "ui_group",
        "name": "output",
        "tab": "2c159271e154a7e1",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2c159271e154a7e1",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]